<%= provide(:title, "Categories") %>

<header style="background: url('http://pcwallart.com/images/skyline-cast-wallpaper-2.jpg')  no-repeat fixed" class="categories-header">
  <nav>
    <div class="logo">
      <%= link_to "[−]", root_url %>
    </div>
  </nav>
  <div class="category-title">
    [categories]
  </div>
  <div class="category-description">
    things sorted out into groups
  </div>
</header>

<div class="wrapper">
  <div class="container">

    <% if @categories.any? %>
      <% @categories.each do |category| %>
        <div class="categories-title">
          <%= link_to category.title, category_path(category) %>
        </div>
        <% category.products.take(8).each do |product| %>
        <div class="four">
          <div class="one-space">
            <a href="<%= product.link %>"><img srcset="<%= product.image %>" width="100%" height="auto" /></a>
          </div>
          <div class="one-space product-title">
            <%= link_to product.title, product.link %>
          </div>
          <div class="one-space product-price">
            $<%= product.price %>
          </div>
          <div class="one-space">
            <%= sanitize(product.description).truncate(150) %>
          </div>
          <div class="one-space">
            <%= link_to "View details...", category_product_path(category, product) %>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
