<div class="form-background">
  <header>
  <nav>
    <div class="logo">
      <%= link_to "[−]", root_url %>
    </div>
  </nav>
  <div class="category-title">
    [register]
  </div>
</header>

  <div class="wrapper">
    <div class="container">

      <div class="form-slate">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

        <div class="field">
          <%= f.text_field :username, autofocus: true, placeholder: "Username", class: "text-field" %>
        </div>
        <div class="field">
          <%= f.email_field :email, placeholder: "Email address", class: "text-field" %>
        </div>
        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "text-field" %>
        </div>
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm your password", class: "text-field" %>
        </div>
        <div class="actions">
          <%= f.submit "Register", class: "submit-button" %>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
